body {
    background-color: #282828;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

button {
    size: 120%;
    font-size: inherit;
    color: black;
    border: 1px solid white;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 4px;
}

select {
    size: 120%;
    font-size: inherit;
    background-color: white;
    padding: 2px;
}

hr {
    color: white;
}

div, h1 {
    padding-left: 4px;
    width: fit-content;
}

h1 {
    font-size: 32px;
}

table {
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 20px;
}

th, td {
    border: 1px solid white; 
    text-align: center; 
    padding: 10px; 
    color: white; 
}

th {
    background-color: #333;
    font-weight: bold;
}

.deletion-button {
    border: 1px solid red;
    color: white;
    background-color: #dd787d;
    size: 120%;
    font-size: inherit;
    margin-left: 4px;
}

.creation-button {
    border: 1px solid green;
    color: black;
    background-color: lightgreen;
    size: 120%;
    font-size: inherit;
    margin-left: 4px;
}

.separator {
    height: 2px;
    color: white;
    background-color: white;
}

span {
    font-size: 14px;
    font-style: italic;
}

#book-to-delete {
    border: 1px solid red;
    color: white;
    background-color: #dd787d;
    size: 120%;
    font-size: inherit;
}


